<html>
    <head>
        <title>IoT Temperature Dashboard</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <header>
            <h1>IoT Temperature Dashboard</h1>
            <div id="branding">
                <p>Powered by</p>
                <img src="/static/AW_Black_R.png" alt="">

            </div>
        </header>
        <main>
            <div id="inside">
                <div id="inside-temp-header">
                    <span>{{local}}°</span>
                    <img id="" src="/static/icons/{{icon}}-s.png" alt="">
                </div>
                <h2>The current inside temperature is {{local}}°F</h2>
            </div>
            <div id="summary">
                <h2>It would be a good idea to close your doors and windows at this time.</h2>
            </div>
            <div id="outside">
                <div id="outside-temp-header">
                    <span>{{temp}}°</span>
                    <img id="" src="/static/icons/{{icon}}-s.png" alt="">
                </div>
                <h2>The current outside temperature is {{temp}}°F</h2>
                <h2>{{rain}}</h1>

            </div>
        </main>
        <aside>Data current as of {{datetime}}</aside>
        
        

    </body>
</html>