<html>
    <head>
        <title>IoT Temperature Dashboard</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <header>
            <h1>IoT Temperature Dashboard</h1>
            <div id="branding">
                <p>Powered by</p>
                <a target="_blank" href="https://accuweather.com/"><img src="/static/AW_Black_R.png" alt=""></a>
            </div>
        </header>
        <main>
            <div id="inside">
                <div id="inside-temp-header">
                    <span>{{local}}°</span>
                    <img id="" src="/static/icons/{{icon}}-s.png" alt="">
                </div>
                <h2>The current inside temperature is {{local}}</h2>
                <h2>The current inside humidity is {{insideHumidity}}%</h2>
            </div>
            <div id="summary">
                <h2>{{doors}}</h2>
                <h2>{{Fdoors}}</h2>
            </div>
            <div id="outside">
                <div id="outside-temp-header">
                    <span>{{temp}}°</span>
                    <img id="" src="/static/icons/{{icon}}-s.png" alt="">
                </div>
                <h2>{{text}}</h2>
                <h2>The current outside temperature is {{temp}}</h2>
                <h2>{{rain}}</h1>
            

            </div>
        </main>
        <aside>Data current as of {{datetime}}</aside>
        
        
<script>
    console.log("Automatic reload set at 5 minutes.")
setTimeout(() => {
    location.reload()
  }, 300000);
</script>
    </body>
</html>