<html>
    <head>
        <title>IoT Temperature Dashboard</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <header>
            IoT Temperature Dashboard
        </header>
        <main>
            <div id="inside">

            </div>
            <div id="summary">
    
            </div>
            <div id="outside">
                <h1>The current temperature is {{temp}}F</h1>
                <h1>{{rain}}</h1>
                <h1>{{localF}}</h1>

            </div>
        </main>
        
        

    </body>
</html>