<html>
    <head>
        <title>IoT Temperature Dashboard</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            <h1>IoT Temperature Dashboard</h1>
            <div id="branding">
                <p>Powered by</p>
                <a target="_blank" href="https://accuweather.com/"><img src="/static/AW_Black_R.png" alt=""></a>
            </div>
        </header>
        <main>
            <div id="settings">
                <h1>Configuration Settings</h1>

                <form action="/settings" method="post">
                    <input type="checkbox" name="metric" checked="{{request.form['metric']}}" id="metric">
                    <label for="metric">Use Metric measurements (Celsius)</label>
                    <br>
                    <label for="zip">Zip code: </label>
                    <input type="number" name="zip" id="zip" placeholder="41076" value="{{request.form['zip']}}">
                    <br>
                    <label for="mintemp">Minimum temperature</label>
                    <input type="number" name="mintemp" id="mintemp" placeholder="65" value="{{request.form['mintemp']}}">
                    <br>

                    <label for="maxtemp">Maximum temperature</label>
                    <input type="number" name="maxtemp" id="maxtemp" placeholder="80" value="{{request.form['maxtemp']}}">
                    <br>

                    <label for="maxrain">Maximum percentage of rain</label>
                    <input type="number" name="maxrain" id="maxrain" placeholder="70" value="{{request.form['maxrain']}}">
                    <br>

                    <button type="submit">Submit</button>
                </form>
                <button onclick="sendReload()">Refresh Accuweather</button>
            </div>
    
        
        
<script>
    function sendReload() {
        fetch(`/reload/`, 
    {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
        },
    });
    }
   
</script>
    </body>
</html>